<h1>Episode Aired On <%= @episode.date %></h1>

<h2> Guest Appearances </h2>
<% @episode.guests.each do |g| %>
<%= link_to g.name, guest_path(g) %>
<br>
<% end %>

<h3>Average Episode Rating</h3>
<p><%= @episode.average_rating %></p>
