<div class="container"> 
    <h1>Show Episode</h1> 

    <h3><%= @episode.number %></h3> 
   
    <h3><%= @episode.date.strftime("%B %d, %Y") %></h3> 
        
    <h1>Guests that appeared in this episode:</h1> 

    <% @episode.guests.uniq.each do |guest| %> 
        <p><%= link_to guest.name, guest_path(guest) %></p> 
    <% end %> 

    <h2><%= button_to "Back", episodes_path, method: :get %></h2> 
</div> 
